  <link rel="stylesheet" href="/css/home.css">

  <section class="adv_sec">
    <div class="w-100 text-center h1">
        <img src="/images/Logo/manfu-logo2.png" alt="">
        </div>
      <div class="container">
        <div class="adv_in">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
              <div class="adv_box">
                <div class="media">
                  <h1 class="mx-5">B1</h1>
                  
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
              <div class="adv_box">
                <div class="media">
                  <h1 class="mx-5">B2</h1>
                  
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
              <div style="background-color: #64E291"  class="adv_box">
                <div class="media">
                  <h1 class="mx-5">B3</h1>
                  
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
              <div class="adv_box">
                <div class="media">
                  <h1 class="mx-5">B4</h1>
                  
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
              <div style="background-color: #64E291" class="adv_box">
                <div class="media">
                  <h1 class="mx-5">B5</h1>
                  
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
              <div class="adv_box">
                <div class="media">
                  <h1 class="mx-5">B6</h1>
                  
                </div>
              </div>
            </div>
  
            
          </div>
        </div>
      </div>
    </section>

    <script>
        $(".adv_box").fadeIn(100).fadeOut(100).fadeIn(100);
    </script>