<div class='widget-container text-center'>
    {{!-- <video width='100%' height='auto' playsinline='' muted='' autoplay='' loop=''>
        <source src='https://hhfurniture.com.vn/wp-content/uploads/2021/01/demo-furniture.mp4' type='video/mp4' />
    </video> --}}
    <img width="100%" height="auto" src="/images/Logo/manfu-background.png" alt="">
</div>