:root {
    --main-color: #E57D5D;
    --second-color: crimson;
}



.page_title {
    padding: 30px 0px;
}
.page_title h1 {
    color: var(--second-color);
    font-weight: 700;
    line-height: 2;
    margin-bottom: 0;
    position: relative;
    text-transform: capitalize;
}
.page_title h1::before {
    background: var(--second-color);
    width: 70px;
    height: 2px;
    position: absolute;
    content: '';
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.page_title h1::after {
    position: absolute;
    content: '';
    background: var(--main-color);
    width: 30px;
    height: 2px;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*Menu starts*/
.menu_tab {
    margin: 0 auto;
    justify-content: center;
}
.nav-item {
    display: inline-block;
    text-align: center;
}
.nav-tabs .nav-link{
    transition: .3s;
}
.nav-tabs .nav-link.active {
    background: var(--main-color);
    color: #fff;
    font-weight: 700;
    border: 1px solid var(--main-color);
    text-transform: capitalize;
}
.nav-link {
    color: #000;
}
.nav-tabs .nav-link:hover {
    background: var(--main-color);
    color: #fff;
    border: 1px solid var(--main-color);
}
.single_menu {
    position: relative;
    margin-bottom: 75px;
    transition: .3s;
}
.single_menu:hover img{
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);

}
.single_menu img {
    width: 33%;
    position: absolute;
    height: 170px;
    object-fit: contain;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
}
.menu_content {
    padding-left: 200px;
		position: relative;
    
}
.menu_content h4 {
    font-size: 25px;
    font-weight: 300;
    border-bottom: 1px dashed var(--main-color);
    line-height: 2;
    text-transform: capitalize;
}
.menu_content span {
    font-size: 22px;
    font-weight: 800;
    float: right;
    font-style: italic;
    color: var(--main-color);
}
.menu_content p {
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 1px;
}
.menu_btn.btn.btn-danger {
    margin: 0 auto;
    display: block;
    width: 140px;
}
/*Menu ends*/
.menu_btn.btn.btn-danger {
	margin: 0 auto;
	display: block;
	width: 140px;
}
.btn.btn-danger {
	background: var(--main-color);
	border: 1px solid var(--main-color);
	transition: .3s;
	position: relative;
	z-index: 1;
	text-transform: capitalize;
	font-weight: 700;
	overflow: hidden;
	padding: 15px 25px;
}
.btn.btn-danger::before {
	position: absolute;
	content: '';
	background: #e74c3c;
	width: 100%;
	height: 100%;
	left: -100%;
	top: 100%;
	transition: .3s;
	z-index: -1;
}
.btn.btn-danger:hover:before{
    top: 0;
    left: 0;
}

 .table-image thead td, .table-image thead th {
	 border: 0;
	 color: #666;
	 font-size: 0.8rem;
}
 .table-image td, .table-image th {
	 vertical-align: middle;
	 text-align: center;
}
 .table-image td.qty, .table-image th.qty {
	 max-width: 2rem;
}
 .price {
	 margin-left: 1rem;
}
 .modal-footer {
	 padding-top: 0rem;
}

.cartBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #71EFA3;
  border: 2px solid #71EFA3;
  border-radius: 5px !important;
  padding: 5px 10px;
  font-weight: 700;
  display: inline-block;
  min-width: 170px !important;
  text-align: center;
  color: white;
  box-shadow: -10px 17px 46px -25px rgba(0, 0, 0, 0.68);
}

.cartBtn:hover {
    opacity: 0.8;
    
    color: black;
}

.cartBtn i {
    display: inline-block;
}

.left-hand {
  margin-bottom: 55px;
  background-color: crimson;
  border-color: crimson;
	color: white;
}

.cartBtn span {
  display: inline-block;
  padding: 3px 20px;
  
}



icon-shape {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.icon-sm {
    width: 2rem;
    height: 2rem;
    
}

.menu_content .qty-box {
	margin-top: 55px;
}